<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div>
<h3>HOMEWORK</h3>
<hr>
<table class="table" style="width : 380px">
  <thead style="background-color: white; color: black">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Class Name</th>
      <th scope="col">Homework Name</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Algebra II</td>
      <td>Unit 22</td>
      <td>1/25/2023</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>US History</td>
      <td>World war I</td>
      <td>2/02/2023</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>English II</td>
      <td>Composition 1</td>
      <td>03/02/2023</td>
    </tr>
  </tbody>
</table>
</div>
